html {
  min-height: 100vh;
  position: relative;
}

main .form-control
{
    display: inline-block;
    width: auto;
}

main
{
    overflow-x: auto;
    text-align: center;
}

body {
    background-color: #BCD3E7;
}

.bg-turquoise {
    background-color: #6B8EB7;
}

footer {
    background-color: #6B8EB7;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.btn-primary, .btn-primary:hover, .btn-primary:focus .btn-primary:visited, .btn-primary:active {
    background-color: #6B8EB7;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-light:hover .navbar-nav:hover .nav-link:hover {
    color: #B5D3E7;
}

.navbar-light .navbar-brand {
    color: white;
}

.navbar-light:hover .navbar-brand:hover {
    color: #B5D3E7;
}

th {
  background-color: #6B8EB7;
  color: white;
}

th, td {
  padding: 15px;
  text-align: left;
}

table, th, td {
    border: 1px solid black;
}

table {
    margin: 0 auto;
    page-break-inside:auto;
}

tr    {
    page-break-inside:avoid;
    page-break-after:auto;
}

h1 {
    margin-top: auto;
    margin-bottom: 50px;
    color: #6B8EB7;
}

h2 {
    margin-top: auto;
    margin-bottom: 50px;
    color: #6B8EB7;
}

img {
    width: 100%;
    height: auto;
   }

.return-home {
    color: white; !important;
    background-color: #6B8EB7; !important;
    }

.flashes {
    text-align: center;
    font-size: large;
    color: #6B8EB7;
    background-color:white;
}