{% extends "layout.html" %}

{% block title %}
    Overview
{% endblock %}

{% block main %}

<h1>All Stocks</h1>
<div class="table-responsive">
    <table class="table">
        <tr>
            <th>Symbol</th>
            <th>Stock</th>
            <th>Volatility</th>
            <th>Price Per Stock</th>
        </tr>
         {% for stock in all_stocks %}
        <tr>
            <td>{{ stock['symbol'] }}</td>
            <td>{{ stock['name'] }}</td>
            <td>{{ stock['volatility'] }}</td>
            <td>{{ stock['price'] }}</td>

        </tr>
         {% endfor %}
    </table>
</div>

{% endblock %}